$font-stack:    system-ui, sans-serif;
$font-weight: lighter;
$primary-color: rgb(31, 31, 31);
$bg-color: #ffffff;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $bg-color;
  font-weight: lighter;
}

.post-list{
  font: 90% $font-stack;
  color: $primary-color;
  background-color: $bg-color;
  font-weight: lighter;
  

  .postlist{
    width: 100%; 
    min-height: 25px; 
    line-height: 25px; 
    text-align: center; 
    border-collapse: collapse;
    display: inline-table;  
    
  }

  form{
    display: inline;
    padding: 20px 20px;
    box-sizing: border-box;
    input {
      height: 30px;
    }
    input [type=text]{
      width: 50%;
    }
    input[type=button]{
      width: 30%;
    }
  }
}


.edit_profile{
  text-align: center;
}

.blog-post{
  font: $font-stack;
  color: $primary-color;
  font-weight: lighter;
  h2{
    font: $font-stack;
    font-size: normal;
    font-weight:normal;
  }
  h5{
    font-size: 12px;
    display: inline;
    color: #a5a5a5;
  }
  h4{
    font-size: 13px;
    display: inline;
    font-weight: normal;
  color: #000000;
  }
  h3{
    font-size: 14px;
    display: inline;
    font-weight: normal;
  color: #000000;
  }
}

.blog_profile{
  text-align: center;
}
.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }