<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/login.css" />
    <title>user homepage</title>
</head>

<body>
    <h1>
        Manage your posts and profile.
    </h1>
    <form enctype="multipart/form-data" action="/create_post" method="POST">
        <label>Title<input type="text" name="title"></label>

        <label>Upload Markdown Files<input type="file" name="file" accept=".md" /></label>

        <label><input type="submit" value="Upload" /></label>

    </form>
    <div class="post-list">
        <h2>Your posts</h2>
        <% if (error) { %>
            <div class="err">
                <%= error %>
            </div>
            <% } %>
            <table class ="postlist"">
            <% if (posts) { %>
                <% for(var i=0; i < posts.length; i++) { %>
                    <tr>
                      <td>title: <%= posts[i][2] %>  </td>
                      <td>published at: <%= posts[i][4] %>  </td>
                      <td><a href=<%= "deletepost/:" + posts[i][1] %>> delete post</a></td>
                      
                      
                    </tr>
                 <% } %>
                
            <% } %>
        </table>
            

    </div>


    <div class="profile-details">
        <h2>Edit Your Profile</h2>
        <form enctype="multipart/form-data" action="/create_post" method="POST">
            <label>Bio:<input type="text" name="bio"></label>

            <label>Instagram<input type="text" name="instagram" /></label>
            <label>Twitter<input type="text" name="twitter" /></label>
            <label>Github<input type="text" name="github" /></label>
            <label><input type="submit" value="Update" /></label>

        </form>
    </div>


    <div>
        <a href="/logout" <>Logout</a>
    </div>


</body>

</html>